@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #202046;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: no-repeat url("../images/pattern-curve.svg") bottom left;
  overflow: hidden;
}

blockquote {
  display: none;
}

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1440px;
  height: 100vh;
  background: no-repeat url("../images/pattern-bg.svg") 100% center/50rem;
}

.quote {
  position: relative;
  right: 17.5rem;
  width: 50rem;
  padding: 4em 0em;
  background: no-repeat url("../images/pattern-quotes.svg") 6rem 0%;
  line-height: 3em;
  z-index: 3;
}

.quote__body {
  font-size: 2.5rem;
}

.quote__attribute {
  font-weight: 500;
  color: #babacf;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.quote--bold {
  font-weight: 700;
  color: #202046;
  margin-right: 0.5em;
}

.photo {
  position: absolute;
  right: 4rem;
  z-index: 2;
  height: 600px;
  width: 600px;
  border-radius: 0.5rem;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 3px 10px 30px -11px rgba(0, 0, 0, 0.86);
  box-shadow: 3px 10px 30px -11px rgba(0, 0, 0, 0.86);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.photo__prev, .photo__next {
  position: absolute;
  bottom: -1rem;
  border: none;
  padding: 25px 25px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 3px 7px 30px -11px black;
  box-shadow: 3px 7px 30px -11px black;
}

.photo__prev:hover, .photo__next:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.photo__prev {
  right: 30rem;
  border-radius: 30px 0px 0px 30px;
  background: no-repeat 50% 50% url("../images/icon-prev.svg") white;
}

.photo__next {
  right: 27rem;
  border-radius: 0px 30px 30px 0px;
  background: no-repeat 50% 50% url("../images/icon-next.svg") white;
}

.attribution {
  display: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-width: 1400px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: no-repeat url("../images/pattern-bg.svg") 16rem 4rem/45rem;
  }
  .quote {
    position: static;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
  .quote__attribute {
    font-size: 1.8rem;
  }
  .quote--bold {
    display: block;
  }
  .photo {
    height: 550px;
    width: 550px;
    position: relative;
  }
}
/*# sourceMappingURL=style.css.map */