@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

// Variables

$main-font-color: rgb(32, 32, 70);
$light-font-color: hsl(240, 18%, 77%);

// Globals

html {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: $main-font-color;
  display: flex;
  align-items: center;
  justify-content: center;
  background: no-repeat url('../images/pattern-curve.svg') bottom left
}

// Main styles //

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1400px;
  height: 100vh;
  background: no-repeat url('../images/image-tanya.jpg') 750px center, no-repeat url('../images/pattern-bg.svg') 650px center;
}

.quote {
  position: relative;
  right: 250px;
  width: 800px;
  padding: 4em 0em;
  background: no-repeat url('../images/pattern-quotes.svg') 15rem 0%;
  line-height: 3em;

  &__body {
    font-size: 2.5rem;
  }

  &__attribute {
    font-weight: 500;
    color: $light-font-color;
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  &--bold {
    font-weight: 700;
    color: $main-font-color;
    margin-right: .5em;
  }

  &--alt {
    display: none;
  }

}

.slider {
  &__photo {
  }
}



.attribution {
  display: none;
  align-self: flex-end;
}

// Media queries //

