@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

// Variables

$main-font-color: rgb(32, 32, 70);
$light-font-color: hsl(240, 18%, 77%);

// Globals

html {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: $main-font-color;
  display: flex;
  align-items: center;
  justify-content: center;
  background: no-repeat url('../images/pattern-curve.svg') bottom left;
  overflow: hidden;
}

blockquote {
  display: none;
}

// Main styles //

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 800px;
  background: no-repeat url('../images/pattern-bg.svg') 100% center / 50rem;
}

.quote {
  position: relative;
  right: 17.5rem;
  width: 50rem;
  padding: 4em 0em;
  background: no-repeat url('../images/pattern-quotes.svg') 6rem 0%;
  line-height: 3em;
  z-index: 3;

  &__body {
    font-size: 2.5rem;
  }

  &__attribute {
    font-weight: 500;
    color: $light-font-color;
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  &--bold {
    font-weight: 700;
    color: $main-font-color;
    margin-right: 0.5em;
  }
}

.photo {
  position: absolute;
  right: 4rem;
  z-index: 2;
  height: 600px;
  width: 600px;
  border-radius: 0.5rem;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 3px 10px 30px -11px rgba(0, 0, 0, 0.86);
  box-shadow: 3px 10px 30px -11px rgba(0, 0, 0, 0.86);
  transition: all 0.3s;

  &__prev,
  &__next {
    position: absolute;
    bottom: -1rem;
    border: none;
    padding: 25px 25px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s;
    -webkit-box-shadow: 3px 7px 30px -11px black;
    box-shadow: 3px 7px 30px -11px black;

    &:hover {
      filter: brightness(0.8);
    }
  }

  &__prev {
    right: 30rem;
    border-radius: 30px 0px 0px 30px;
    background: no-repeat 50% 50% url('../images/icon-prev.svg') white;
  }

  &__next {
    right: 27rem;
    border-radius: 0px 30px 30px 0px;
    background: no-repeat 50% 50% url('../images/icon-next.svg') white;
  }
}

.attribution {
  display: none;
  align-self: flex-end;
}

// Media queries //

@media only screen and (max-width: 1400px) {
  body {
    overflow: scroll;
  }

  .main {
    flex-direction: column;
    background: no-repeat url('../images/pattern-bg.svg') 50% 15% / 43rem;
    height: 1400px;
  }

  .quote {
    position: static;
    order: 2;
    text-align: center;
    padding: 2rem 0em;
    margin-top: 5rem;
    background: no-repeat url('../images/pattern-quotes.svg') center top / 8rem;

    &__attribute {
      font-size: 1.8rem;
    }

    &--bold {
      display: block;
    }
  }

  .photo {
    height: 550px;
    width: 550px;
    position: relative;
    right: 0rem;

    &__prev {
      left: 45%;
    }
    &__next {
      right: 37%;
    }
  }
}

@media only screen and (max-width: 1400px) and (max-height: 1150px) {
  body {
    align-items: flex-start;
  }

  .main {
    margin-top: 2rem;
    padding: 2rem;
    height: 900px;
    background: no-repeat url('../images/pattern-bg.svg') center top / 30rem;
  }

  .quote {
    &__body {
      font-size: 1.8rem;
    }
    &__attribute {
      font-size: 1.5rem;
    }
  }

  .photo {
    height: 400px;
    width: 400px;
    position: relative;

    &__prev {
      left: 40%;
    }
    &__next {
      right: 37%;
    }
  }
}

@media only screen and (max-width: 900px) {
  .main,
  .quote {
    width: 320px;
  }

  .main {
    background: no-repeat url('../images/pattern-bg.svg') 50% top / 20rem;
    justify-content: flex-start;
    margin-top: 2rem;
    padding: 0rem;
    height: 1000px;
  }

  .quote {
    background: no-repeat url('../images/pattern-quotes.svg') center top / 5rem;
    &__body {
      font-size: 1.7rem;
    }
    &__attribute {
      font-size: 1.3rem;
    }
  }

  .photo {
    height: 280px;
    width: 280px;

    &__prev {
      left: 32%;
    }
    &__next {
      right: 35%;
    }
  }
}
